body {
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: url(./images/101229158-illustrazione-di-tracce-di-cane-sullo-sfondo-del-cuore.webp);
  background-repeat: no-repeat;
}

.main {
  margin-top: 150px;
}

input {
  border: none;
  resize: none;
  outline: none;
}
.modal {
  margin-top: 50px !important;
  margin-bottom: 40px !important;
}
.modal-footer {
  margin-bottom: 40px !important;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  justify-content: flex-start !important;
  background-color: #e6eaeb !important;
}

a {
  text-decoration: none;
  color: white;
}

.petscontainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.container {
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2%;
}
.containertwo {
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

img {
  height: 300px;
  margin-bottom: 10px;
}

.card h4,
.card .descp {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3px;
}

.descp {
  text-align: justify;
  text-justify: inner-word;
}

.prova {
  background-image: url(./images/funny-puppy-dog-border-collie-wearing-christmas-costume-red-santa-claus-hat-holding-christmas-orname_80942-7504.webp);
}
.h1 {
  padding: 15px;
}
